{{#if review}}
  <p class="review-date">
    Reviewed on {{moment-format review.createdAt "MMMM Do YYYY" allowEmpty=true}} for version {{review.version.version}}
  </p>
  <ol class="questions">
    {{#each answeredQuestions as |question|}}
      <li class="test-review-question">
        <span class="question">{{question.text}}</span>
        <span class="answer">{{question.answer}}</span>
      </li>
    {{/each}}
  </ol>
  <br>
  {{#if review.review}}
    <h6>Comments</h6>
    <fieldset class="test-review-notes">
      {{markdown-to-html markdown=review.review}}
    </fieldset>
  {{/if}}
{{/if}}
