<div class="usage-count">
  <a href="#" {{action "toggleUsages"}} class="test-usage-count">
    <span class={{if showUsages "icon-expand-more" "icon-chevron-right"}}></span>
    {{count}} {{pluralize count "usage"}}
  </a>
  {{#if showUsages}}
    {{#if usages}}
      {{#each visibleUsages as |usage|}}
        <div class="usage test-usage">
          <div class="filename">{{usage.filename}}:{{usage.line_number}}</div>
          {{#each usage.lines as |line|}}
            <pre class="line"><span class="number">{{pad-line-number line.number usage.lines}}</span><span class="{{if (is-equal usage.line_number line.number) 'match'}}">{{line.text}}</span></pre>
          {{/each}}
        </div>
      {{/each}}
      {{#if moreUsages}}
        <a href="#" {{action "viewMore"}} class="view-more">
          See more usages
        </a>
      {{/if}}
    {{else if fetchUsages.isRunning}}
      <div class="usage">
        {{dot-spinner}}
      </div>
    {{/if}}
  {{/if}}
</div>
