{{#if showRanking}}
  <span class="ranking">#{{addon.ranking}}</span>
{{else}}
  {{#score-display addon=addon as |score|}}
    {{score}}
  {{/score-display}}
{{/if}}
<div class="desc">
  {{#link-to "addons.show" addon.name class="addon-link test-addon-name"}}
    <span class="addon-name">
      {{addon.name}}
      {{#if addon.isDeprecated}}
        <span class="notice">
          (Deprecated)
        </span>
      {{/if}}
    </span>
    {{#if addon.isOfficial}}
      {{official-icon}}
    {{/if}}
    {{#if addon.isCliDependency}}
      {{dependency-icon}}
    {{/if}}
    <small>- {{addon.description}}</small>
  {{/link-to}}
  <p>
    <small>{{inline-category-list categories=addon.categories}}</small>
    <span class="last-updated">Last updated {{relative-time date=addon.latestVersionDate}}</span>
  </p>
</div>
