<ul class="addon-list">
  {{#each addons as |addon|}}
      <li>
        {{#if showRanking}}
          <span class="ranking">#{{addon.ranking}}</span>
        {{else}}
          {{#if addon.isDeprecated}}
            <span class="notice">(DEPRECATED)</span>
          {{else if addon.isWip}}
            <span class="score wip">WIP</span>
          {{else if addon.score}}
            <span class="score" data-score="{{addon.score}}">{{addon.score}}</span>
          {{else}}
            <span class="score">?</span>
          {{/if}}
        {{/if}}
        <div class="desc">
          {{#link-to "addons.show" addon class="addon-link"}}
            <span class="addon-name">{{addon.name}}</span>
            <small>- {{addon.description}}</small>
          {{/link-to}}
          <p>
            <small>{{inline-category-list categories=addon.categories}}</small>
          </p>
        </div>
      </li>
  {{/each}}
  {{yield}}
</ul>