<h4>Review this addon</h4>
<form {{action "_save" on="submit"}} class="review-form">
  <fieldset>
    <ol>
      {{#each this.questions as |question|}}
        <li>
          <div class="question">{{question.text}}</div>
          <RadioButtonSet @selectOption={{action "selectOption"}} @valueField={{question.fieldName}} @options={{this.questionOptions}} @class="question-radio-buttons test-question-buttons" />
        </li>
      {{/each}}
    </ol>
    <Textarea @value={{this.review.review}} class="test-addon-review-notes" />    <input type="submit" class="button test-addon-review-save" value="Create Review">
  </fieldset>
</form>
{{#if this.review.review}}
  <MarkdownToHtml @markdown={{this.review.review}} />
{{/if}}
