<h5>Review this addon</h5>
<form {{action (perform this.saveReview) on="submit"}} class="review-form">
  <ol>
    {{#each this.questions as |question|}}
      <li class="test-review-question">
        <div class="question">{{question.text}}</div>
        <ExclusiveButtonGroup @selectedValue={{get this.reviewProperties question.fieldName}} @updateSelectedValue={{action this.selectOption question.fieldName}} as |btn|>
          {{component btn
                      value=1
                      label="Yes"}}
          {{component btn
                      value=2
                      label="No"}}
          {{component btn
                      value=3
                      label="N/A"}}
          {{component btn
                      value=4
                      label="Unknown"}}
        </ExclusiveButtonGroup>
      </li>
    {{/each}}
  </ol>
  <Textarea @value={{this.reviewText}} class="test-addon-review-notes" />  {{#if this.reviewText}}    <fieldset>
      <MarkdownToHtml @markdown={{this.reviewText}} />
    </fieldset>
  {{/if}}
  {{#if this.saveReview.isIdle}}
    <input type="submit" class="button test-addon-review-save" value="Create Review">
  {{else}}
    <input type="submit" class="button" value="Saving..." disabled>
  {{/if}}
  {{#if this.recentlySaved}}
    <b>Saved!</b>
  {{/if}}
</form>
