<h2>
  <LinkTo @route="addons.show" @model={{this.addon.name}} class="test-addon-link">
    {{this.addon.name}}
    {{#if this.addon.isOfficial}}
      <OfficialIcon @class="test-official-icon" />
    {{/if}}
    {{#if this.addon.isCliDependency}}
      <DependencyIcon @class="test-cli-dep-icon" />
    {{/if}}
  </LinkTo>
</h2>

<section class="addon-info">
  <div class="test-last-updated">
    <b>{{this.addon.latestAddonVersion.version}}</b> from <RelativeTime @date={{this.addon.latestVersionDate}} />
  </div>
  <div class="test-description"><b>description</b> {{this.addon.description}}</div>
  {{#if this.addon.demoUrl}}
    <div class="test-addon-demo-url">
      <b>demo</b> <a href={{this.addon.demoUrl}}>{{this.addon.demoUrl}}</a>
    </div>
  {{/if}}
  <div class="test-addon-package-url">
    <b>package</b> <a href={{this.addon.npmUrl}}>{{this.addon.npmUrl}}</a>
  </div>
  <div class="test-addon-license">
    <b>license</b> {{this.addon.license}}
  </div>
  <div>
    <b>npm keywords</b>
    {{#each this.addon.keywords as |keyword|}}
      <CommaSeparated @list={{this.addon.keywords}} @item={{keyword}} as |value separator|>
        {{value.keyword}}{{separator}}
      </CommaSeparated>
    {{/each}}
  </div>
  {{#if this.addon.ranking}}
    <span><LinkTo @route="addons.top">Ranks #{{this.addon.ranking}} of the top 100 addons!</LinkTo></span>
  {{/if}}
</section>

<section>
  <ScoreDisplay @addon={{this.addon}} as |val|>
    Score <b class="test-score">{{val}}</b>
  </ScoreDisplay>
</section>

<section>
  <label>Repo URL</label>
  {{#if this.addon.repositoryUrl}}
    <a href={{this.addon.repositoryUrl}} target="repo" class="test-repo-url">{{this.addon.repositoryUrl}}</a>
  {{else}}
    <em>Missing</em>
  {{/if}}
  <a href="https://www.google.com/search?q=%22{{this.addon.name}}%22" target="_blank" rel="noopener noreferrer" title="Search Google">&nbsp;{{svg-icon "google"}}</a>
  |
  <a href="https://github.com/search?q=%22{{this.addon.name}}%22" target="_blank" rel="noopener noreferrer" title="Search GitHub">{{svg-icon "github"}}</a>
  <ToggleSwitch @label={{if this.addon.hasInvalidGithubRepo "Has invalid Repo URL" "Has valid Repo URL"}} @isChecked={{not this.addon.hasInvalidGithubRepo}} @onToggle={{action this.updateInvalidRepoFlag}} @name="repo" @class="test-toggle-repo-validity" />
</section>

<section class="toggles">
  <ToggleSwitch @label={{if this.addon.isWip "Is a WIP" "Not a WIP"}} @isChecked={{not this.addon.isWip}} @onToggle={{action this.updateIsWipFlag}} @name="wip" @class="test-toggle-is-wip" />
  <ToggleSwitch @label={{if this.addon.isDeprecated "Deprecated" "Active"}} @isChecked={{not this.addon.isDeprecated}} @onToggle={{action this.updateIsDeprecatedFlag}} @name="deprecated" @class="test-toggle-is-deprecated" />
  <ToggleSwitch @label={{if this.addon.isHidden "Hidden" "Visible"}} @isChecked={{not this.addon.isHidden}} @onToggle={{action this.updateIsHiddenFlag}} @class="hidden-toggle test-toggle-is-hidden" @name="hidden" />
  <ToggleSwitch @label="Is Official?" @isChecked={{this.addon.isOfficial}} @onToggle={{action (mut this.addon.isOfficial)}} @name="official" @class="test-toggle-is-official" />
  <ToggleSwitch @label="Is CLI Dependency?" @isChecked={{this.addon.isCliDependency}} @onToggle={{action (mut this.addon.isCliDependency)}} @name="cli-dep" @class="test-toggle-is-cli-dep" />
  <ToggleSwitch @label="Extends Ember?" @isChecked={{this.addon.extendsEmber}} @onToggle={{action (mut this.addon.extendsEmber)}} @name="extends-ember" @class="test-toggle-extends-ember" />
  <ToggleSwitch @label="Extends Ember CLI?" @isChecked={{this.addon.extendsEmberCli}} @onToggle={{action (mut this.addon.extendsEmberCli)}} @name="extends-ember-cli" @class="test-toggle-extends-ember-cli" />
  <ToggleSwitch @label="Is Monorepo?" @isChecked={{this.addon.isMonorepo}} @onToggle={{action (mut this.addon.isMonorepo)}} @name="is-monorepo" @class="test-toggle-is-monorepo" />
</section>

<section class="with-default-styling">
  <label>Override Repo URL</label>
  <Input @value={{this.addon.overrideRepositoryUrl}} class="test-override-repo-url-input" @autocomplete="off" />
</section>

<section class="with-default-styling">
  <label>Note</label>
  <Textarea @value={{this.addon.note}} @rows="3" class="note-input test-note-input" @autocomplete="off" /></section>

<section>
  <CategoryChooser @categories={{this.categories}} @addon={{this.addon}} @onchange={{action (mut this.addon.categories)}} />
</section>

<section>
  {{#if this.saveAddon.isRunning}}
    <button type="button" class="button" disabled>Saving...</button>
  {{else}}
    <button type="button" class="button test-save-addon" {{action (perform this.saveAddon)}}>Save</button>
  {{/if}}
  <div class="note">Last saved {{moment-from-now this.addon.updatedAt allowEmpty=true}} ({{moment-format this.addon.updatedAt "MMMM DD, YYYY h:mm:ss" allowEmpty=true}})</div>
</section>

<section class="latest-review">
  <h5 class="header">Latest Review</h5>
  <div class="contents">
    {{#if this.addon.latestReview}}
      {{#if (not-eq this.addon.latestReview.version.version this.addon.latestAddonVersion.version)}}
        <em class="test-review-new-version-warning">{{svg-icon "new-releases"}} New versions of this addon have been released since this review was undertaken.</em>
      {{/if}}
      <AddonReview @review={{this.addon.latestReview}} />
      {{#if this.renewLatestReview.isIdle}}
        <button type="button" {{action (perform this.renewLatestReview)}} class="button test-renew-latest-review">Renew Review</button>
      {{else}}
        <button type="button" disabled class="button">Saving...</button>
      {{/if}}
      {{#if this.recentlyRenewed}}
        <b>Saved!</b>
      {{/if}}
    {{else}}
      <p class="no-review test-no-review">This addon has not yet been reviewed.</p>
    {{/if}}
    <hr>
    <section class="with-default-styling">
      <AdminAddonReviewForm @addon={{this.addon}} />
    </section>
  </div>
</section>

<section>
  {{#if this.addon.readme}}
    {{#unless this.addon.hasInvalidGithubRepo}}
      <section class="readme">
        <p class="header">README.md</p>
        <p class="test-addon-readme contents">
          <MarkdownToSanitizedHtml @markdown={{this.addon.readme.contents}} @tables={{true}} @ghCodeBlocks={{true}} @tasklists={{true}} @simplifiedAutoLink={{true}} />
        </p>
      </section>
    {{/unless}}
  {{/if}}
</section>
