<h2>
  {{#link-to "addons.show" addon.name class="test-addon-link"}}
    {{addon.name}}
    {{#if addon.isOfficial}}
      {{official-icon class="test-official-icon"}}
    {{/if}}
    {{#if addon.isCliDependency}}
      {{dependency-icon class="test-cli-dep-icon"}}
    {{/if}}
  {{/link-to}}
</h2>

<section class="addon-info">
  <div class="test-last-updated">
    <b>{{addon.latestAddonVersion.version}}</b> from {{relative-time date=addon.latestVersionDate}}
  </div>
  <div class="test-description"><b>description</b> {{addon.description}}</div>
  {{#if addon.demoUrl}}
    <div class="test-addon-demo-url">
      <b>demo</b> <a href={{addon.demoUrl}}>{{addon.demoUrl}}</a>
    </div>
  {{/if}}
  <div class="test-addon-package-url">
    <b>package</b> <a href={{addon.npmUrl}}>{{addon.npmUrl}}</a>
  </div>
  <div class="test-addon-license">
    <b>license</b> {{addon.license}}
  </div>
  <div>
    <b>npm keywords</b>
    {{#each addon.keywords as |keyword|}}
      {{#comma-separated list=addon.keywords item=keyword as |value separator|}}
        {{value.keyword}}{{separator}}
      {{/comma-separated}}
    {{/each}}
  </div>
  {{#if addon.ranking}}
    <span>{{#link-to "addons.top"}}Ranks #{{addon.ranking}} of the top 100 addons!{{/link-to}}</span>
  {{/if}}
</section>

<section>
  {{#score-display addon=addon as |val|}}
    Score <b class="test-score">{{val}}</b>
  {{/score-display}}
</section>

<section>
  <label>Repo URL</label>
  {{#if addon.repositoryUrl}}
    <a href={{addon.repositoryUrl}} target="repo" class="test-repo-url">{{addon.repositoryUrl}}</a>
  {{else}}
    <em>Missing</em>
  {{/if}}
  <a href="https://www.google.com/search?q=%22{{addon.name}}%22" target="_blank" rel="noopener" title="Search Google">&nbsp;{{svg-icon "google"}}</a>
  |
  <a href="https://github.com/search?q=%22{{addon.name}}%22" target="_blank" rel="noopener" title="Search GitHub">{{svg-icon "github"}}</a>
  {{toggle-switch
    label=(if addon.hasInvalidGithubRepo "Has invalid Repo URL" "Has valid Repo URL")
    isChecked=(not addon.hasInvalidGithubRepo)
    onToggle=(action updateInvalidRepoFlag)
    name="repo"
    class="test-toggle-repo-validity"
  }}
</section>

<section class="toggles">
  {{toggle-switch
    label=(if addon.isWip "Is a WIP" "Not a WIP")
    isChecked=(not addon.isWip)
    onToggle=(action updateIsWipFlag)
    name="wip"
    class="test-toggle-is-wip"
  }}
  {{toggle-switch
    label=(if addon.isDeprecated "Deprecated" "Active")
    isChecked=(not addon.isDeprecated)
    onToggle=(action updateIsDeprecatedFlag)
    name="deprecated"
    class="test-toggle-is-deprecated"
  }}
  {{toggle-switch
    label=(if addon.isHidden "Hidden" "Visible")
    isChecked=(not addon.isHidden)
    onToggle=(action updateIsHiddenFlag)
    class="hidden-toggle test-toggle-is-hidden"
    name="hidden"
  }}
  {{toggle-switch
    label="Is Official?"
    isChecked=addon.isOfficial
    onToggle=(action (mut addon.isOfficial))
    name="official"
    class="test-toggle-is-official"
  }}
  {{toggle-switch
    label="Is CLI Dependency?"
    isChecked=addon.isCliDependency
    onToggle=(action (mut addon.isCliDependency))
    name="cli-dep"
    class="test-toggle-is-cli-dep"
  }}
  {{toggle-switch
    label="Extends Ember?"
    isChecked=addon.extendsEmber
    onToggle=(action (mut addon.extendsEmber))
    name="extends-ember"
    class="test-toggle-extends-ember"
  }}
  {{toggle-switch
    label="Extends Ember CLI?"
    isChecked=addon.extendsEmberCli
    onToggle=(action (mut addon.extendsEmberCli))
    name="extends-ember-cli"
    class="test-toggle-extends-ember-cli"
  }}
  {{toggle-switch
    label="Is Monorepo?"
    isChecked=addon.isMonorepo
    onToggle=(action (mut addon.isMonorepo))
    name="is-monorepo"
    class="test-toggle-is-monorepo"
  }}
</section>

<section class="with-default-styling">
  <label>Override Repo URL</label>
  {{input value=addon.overrideRepositoryUrl class="test-override-repo-url-input"}}
</section>

<section class="with-default-styling">
  <label>Note</label>
  {{textarea value=addon.note rows="3" class="note-input test-note-input" autocomplete="false"}}
</section>

<section>
  {{category-chooser categories=categories addon=addon onchange=(action (mut addon.categories))}}
</section>

<section>
  {{#if saveAddon.isRunning}}
    <button class="button" disabled>Saving...</button>
  {{else}}
    <button class="button test-save-addon" {{action (perform saveAddon)}}>Save</button>
  {{/if}}
  <div class="note">Last saved {{moment-from-now addon.updatedAt allowEmpty=true}} ({{moment-format addon.updatedAt "MMMM DD, YYYY h:mm:ss" allowEmpty=true}})</div>
</section>

<section class="latest-review">
  <h5 class="header">Latest Review</h5>
  <div class="contents">
    {{#if addon.latestReview}}
      {{#if (not-eq addon.latestReview.version.version addon.latestAddonVersion.version)}}
        <em class="test-review-new-version-warning">{{svg-icon "new-releases"}} New versions of this addon have been released since this review was undertaken.</em>
      {{/if}}
      {{addon-review review=addon.latestReview}}
      {{#if renewLatestReview.isIdle}}
        <button {{action (perform renewLatestReview)}} class="button test-renew-latest-review">Renew Review</button>
      {{else}}
        <button disabled class="button">Saving...</button>
      {{/if}}
      {{#if recentlyRenewed}}
        <b>Saved!</b>
      {{/if}}
    {{else}}
      <p class="no-review test-no-review">This addon has not yet been reviewed.</p>
    {{/if}}
    <hr>
    <section class="with-default-styling">
      {{admin-addon-review-form addon=addon}}
    </section>
  </div>
</section>

<section>
  {{#if addon.readme}}
    {{#unless addon.hasInvalidGithubRepo}}
      <section class="readme">
        <p class="header">README.md</p>
        <p class="test-addon-readme contents">
          {{markdown-to-sanitized-html
            markdown=addon.readme.contents
            tables=true
            ghCodeBlocks=true
            tasklists=true
            simplifiedAutoLink=true
          }}
        </p>
      </section>
    {{/unless}}
  {{/if}}
</section>
