<table class="test-result-summary-table">
  <thead>
    <tr>
      <th>
        Status
      </th>
      <th>
        Number of builds
      </th>
      <th>
        Percent of builds
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="test-result passed">
        Passed
      </td>
      <td>
        {{this.numberOfPassedBuilds}}
      </td>
      <td>
        {{this.formattedPercentOfPassedBuilds}}
      </td>
    </tr>
    <tr>
      <td class="test-result failed">
        Failed
      </td>
      <td>
        {{this.numberOfFailedBuilds}}
      </td>
      <td>
        {{this.formattedPercentOfFailedBuilds}}
      </td>
    </tr>
    <tr>
      <td class="test-result error">
        Error
      </td>
      <td>
        {{this.numberOfErrorBuilds}}
      </td>
      <td>
        {{this.formattedPercentOfErrorBuilds}}
      </td>
    </tr>
  </tbody>
</table>
