<table class="test-result-summary-table">
  <thead>
    <tr>
      <th>
        Status
      </th>
      <th>
        Number of builds
      </th>
      <th>
        Percent of builds
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="test-result passed">
        Passed
      </td>
      <td>
        {{numberOfPassedBuilds}}
      </td>
      <td>
        {{formattedPercentOfPassedBuilds}}
      </td>
    </tr>
    <tr>
      <td class="test-result failed">
        Failed
      </td>
      <td>
        {{numberOfFailedBuilds}}
      </td>
      <td>
        {{formattedPercentOfFailedBuilds}}
      </td>
    </tr>
    <tr>
      <td class="test-result error">
        Error
      </td>
      <td>
        {{numberOfErrorBuilds}}
      </td>
      <td>
        {{formattedPercentOfErrorBuilds}}
      </td>
    </tr>
  </tbody>
</table>
