<div class="test-category-chooser">
  <PowerSelectMultiple @options={{this.sortedCategories}} @selected={{this.addon.categories}} @searchField="displayName" @dropdownClass="test-category-chooser-dropdown" @placeholder="Select categories" @onchange={{this.onchange}} as |category option|>
    {{category.displayName}} {{#if (not (includes option.selected category))}}{{#if category.description}}&middot; <span class="category-chooser-description">{{category.description}}</span>{{/if}}{{/if}}
  </PowerSelectMultiple>
</div>
