<h2 id="title">Categories</h2>
<div class="filter">
  <input type="search" placeholder="Filter categories">
</div>
<ul>
  {{#each sortedTopLevelCategories as |category|}}
    {{#link-to "categories.show" category class="test-category"}}
      <li title="{{category.description}}">
        {{category.name}} ({{category.addonCount}})
      </li>
    {{/link-to}}
    {{#if category.subcategories}}
      {{#each category.subcategories as |subcategory|}}
          <li class="indent" title="{{subcategory.description}}">
            {{#link-to "categories.show" subcategory class="test-subcategory"}}
              <span class="icon-chevron-right"></span>
              {{subcategory.name}} ({{subcategory.addonCount}})
            {{/link-to}}
          </li>
      {{/each}}
    {{/if}}
  {{/each}}
</ul>