<h2 id="title">Categories</h2>
<ul>
  {{#each sortedTopLevelCategories as |category|}}
    <li title={{category.description}}>
      {{#link-to categoryLinkRoute category.slug class="test-category"}}
        {{category.name}} ({{category.totalAddonCount}})
      {{/link-to}}
    </li>
    {{#if category.subcategories}}
      {{#each category.subcategories as |subcategory|}}
        <li class="indent" title={{subcategory.description}}>
          {{#link-to categoryLinkRoute subcategory.slug class="test-subcategory"}}
            <span class="bullet">&#9632;</span>
            {{subcategory.name}} ({{subcategory.totalAddonCount}})
          {{/link-to}}
        </li>
      {{/each}}
    {{/if}}
  {{/each}}
</ul>
