<h1>Code Search</h1>
<div class="search-wrapper with-default-styling">
  <form {{action (perform this.search) on="submit"}}>
    <div class="search-wrapper-inner">
      <Input @type="search" placeholder="Search for addons containing code" @autocomplete="off" @id="code-search-input" @spellcheck="false" @value={{this.searchInput}} />
      {{#if this.codeQuery}}
        <button type="button" {{action this.clearSearch}} class="close-button test-clear-search">{{svg-icon "close"}}</button>
      {{/if}}
    </div>
    <div class="search-actions">
      <Input @type="checkbox" @id="regex-toggle" class="test-regex-search" @checked={{this.regex}} />
      <label for="regex-toggle">Regex search</label>
      {{#if this.regex}}
        <a href="https://github.com/google/re2/wiki/Syntax" class="regex-help test-regex-help" rel="noopener noreferrer" target="_blank">(re2 syntax)</a>
      {{/if}}
    </div>
    <button type="submit" class="test-submit-search button">Search</button>
  </form>
</div>

{{#if this.results.length}}
  <div class="result-details">
    <h5 class="test-last-search test-result-info">
      Results for {{this.quotedLastSearch}} &mdash; Found {{pluralize-this this.results.length 'addon'}} ({{pluralize-this this.totalUsageCount 'usage'}})
    </h5>
  </div>
  <div class="result-controls">
    <div class="filter-controls">
      <h6>Filter by file path</h6>
      <div class="filter-input">
        <input type="text"
               value={{this.fileFilter}}
               oninput={{action (perform this.applyFileFilter) value="target.value"}}
               class="test-file-filter-input">
        {{#if this.isFilterApplied}}
          <button type="button" {{action this.clearFileFilter}} class="close-button test-clear-file-filter">{{svg-icon "close" alignBaseline=false}}</button>
        {{/if}}
      </div>
      {{#if this.isDisplayingFilteredResults}}
        <span class="filter-results test-filtered-result-info">
          Filtered to {{pluralize-this this.filteredResults.length 'addon'}} ({{pluralize-this this.totalFilteredUsageCount 'usage'}})
        </span>
      {{/if}}
    </div>
    <div class="sort-controls">
      <div class="button-select test-sort">
        <SortOrderOption @key="name" @selectedSort={{this.sort}} @sortAscending={{this.sortAscending}} @sortBy={{action this.sortBy}}>
          Name
        </SortOrderOption>
        <SortOrderOption @key="usages" @selectedSort={{this.sort}} @sortAscending={{this.sortAscending}} @sortBy={{action this.sortBy}}>
          Usages
        </SortOrderOption>
        <SortOrderOption @key="score" @selectedSort={{this.sort}} @sortAscending={{this.sortAscending}} @sortBy={{action this.sortBy}}>
          Score
        </SortOrderOption>
        <SortOrderOption @key="updated" @selectedSort={{this.sort}} @sortAscending={{this.sortAscending}} @sortBy={{action this.sortBy}}>
          Updated
        </SortOrderOption>
      </div>
    </div>
  </div>
  <ul class="addon-list">
    {{#if this.isUpdatingResults}}
      <DotSpinner />
    {{else}}
      {{#each this.displayingResults as |result|}}
        <li data-id={{result.addon.id}}>
          <AddonDetails @addon={{result.addon}} />
          <AddonSourceUsages @addon={{result.addon}} @count={{result.count}} @query={{this.codeQuery}} @regex={{this.regex}} @fileFilter={{this.fileFilter}} />
        </li>
      {{/each}}
      {{#if this.canViewMore}}
        <a href="#" {{action this.viewMore}} class="view-more test-view-more">
          <li>See more results</li>
        </a>
      {{/if}}
    {{/if}}
  </ul>
{{else if this.search.isRunning}}
  <DotSpinner />
{{else if this.hasSearchedAndNoResults}}
  <h4 class="result-info">No addons found containing {{this.quotedLastSearch}}</h4>
{{/if}}
