{{#if collapsed}}
  {{#if loadDependencies.isRunning}}
    <p class="uncollapse"><DotSpinner /></p>
  {{else if loadDependencies.last.isError}}
    <p class="uncollapse test-uncollapse-error">Unable to load addons</p>
  {{else}}
    <a href="#" class="uncollapse test-show-dependents" {{action (perform loadDependencies)}}>Show addons</a>
  {{/if}}
{{else}}
  {{#if addonHasDependencies}}
    <p class="description">{{description}}</p>
    <div class="dependency-table">
      <div>
        <table class="version-dependencies test-dev-dependencies">
          <tr>
            <th>Dev Dependencies</th>
          </tr>
          {{#each devDependencies as |dependency index|}}
            {{#if (or showingAllDependencies (lt index limit))}}
              <tr>
                <td class="test-dependency-name">
                  <LinkTo @route="addons.show" @model={{dependency}}>{{dependency}}</LinkTo>
                </td>
              </tr>
            {{/if}}
          {{else}}
            <tr><td>None</td></tr>
          {{/each}}
          {{#if hasHiddenDevDependencies}}
            <tr><td>...</td></tr>
            <tr>
              <td>
                <a href="#" class="more test-show-all-dependencies" {{action (mut showingAllDependencies) true}}>Show {{hiddenDevDependencyCount}} more</a>
              </td>
            </tr>
          {{/if}}
        </table>
      </div>
      <div>
        <table class="version-dependencies test-dependencies">
          <tr>
            <th>Dependencies</th>
          </tr>
          {{#each dependencies as |dependency index|}}
            {{#if (or showingAllDependencies (lt index limit))}}
              <tr>
                <td class="test-dependency-name">
                  <LinkTo @route="addons.show" @model={{dependency}}>{{dependency}}</LinkTo>
                </td>
              </tr>
            {{/if}}
          {{else}}
            <tr><td>None</td></tr>
          {{/each}}
          {{#if hasHiddenDependencies}}
            <tr><td>...</td></tr>
            <tr>
              <td>
                <a href="#" class="more test-show-all-dependencies" {{action (mut showingAllDependencies) true}}>Show {{hiddenDependencyCount}} more</a>
              </td>
            </tr>
          {{/if}}
        </table>
      </div>
    </div>
    <hr>
  {{else}}
    <p class="no-addons description test-no-addons-message">{{noAddonsMessage}}</p>
  {{/if}}
{{/if}}
