{{#if this.shouldShow}}
  <span class="dependency-size">
    <a role="button" href="#" {{on "click" this.toggleDetail}} class="test-size-summary toggle-detail">
      {{format-bytes @addonSize.totalSize}} ({{format-bytes @addonSize.totalGzipSize}} gzipped) {{svg-icon (if this.isViewingDetails "expand-less" "expand-more")}}
    </a>

    {{#if this.isViewingDetails}}
      <div class="size-detail test-size-detail">
        {{#if @addonSize.appJsSize}}
          <div class="row">
            <div class="column-1">App JS:</div>
            <div class="column-2 test-app-js">{{format-bytes @addonSize.appJsSize}} <span class="asset-size">({{format-bytes @addonSize.appJsGzipSize}} gzipped)</span></div>
          </div>
        {{/if}}
        {{#if @addonSize.appCssSize}}
          <div class="row">
            <div class="column-1">App CSS:</div>
            <div class="column-2 test-app-css">{{format-bytes @addonSize.appCssSize}} <span class="asset-size">({{format-bytes @addonSize.appCssGzipSize}} gzipped)</span></div>
          </div>
        {{/if}}
        {{#if @addonSize.vendorJsSize}}
          <div class="row">
            <div class="column-1">Vendor JS:</div>
            <div class="column-2 test-vendor-js">{{format-bytes @addonSize.vendorJsSize}} <span class="asset-size">({{format-bytes @addonSize.vendorJsGzipSize}} gzipped)</span></div>
          </div>
        {{/if}}
        {{#if @addonSize.vendorCssSize}}
          <div class="row">
            <div class="column-1">Vendor CSS:</div>
            <div class="column-2 test-vendor-css">{{format-bytes @addonSize.vendorCssSize}} <span class="asset-size">({{format-bytes @addonSize.vendorCssGzipSize}} gzipped)</span></div>
          </div>
        {{/if}}
        {{#if @addonSize.otherAssetsSize}}
          <div class="row">
            <div class="column-1">Other Assets:</div>
            <div class="column-2 test-other-assets">{{format-bytes @addonSize.otherAssetsSize}}
              <span class="asset-size">
                ({{format-bytes @addonSize.otherAssetsGzipSize}} gzipped)
                {{#if @addonSize.hasOtherAssetsFiles}}
                  <a role="button" href="#" class="test-other-assets-toggle toggle-detail" {{on "click" this.toggleOtherAssets}}>
                    {{svg-icon (if this.isViewingOtherAssets "expand-less" "expand-more")}}
                  </a>
                {{/if}}
              </span>
            </div>
          </div>
        {{/if}}
        {{#if this.isViewingOtherAssets}}
          {{#each @addonSize.normalizedOtherAssetFiles as |file|}}
            <div class="row other-assets test-other-assets-details">
              <div class="column-1 test-asset-name">- {{file.name}}:</div>
              <div class="column-2 test-asset-size">{{format-bytes file.size}} <span class="asset-size">({{format-bytes file.gzipSize}} gzipped)</span></div>
            </div>
          {{/each}}
        {{/if}}
        {{#if @addonSize.totalJsSize}}
          <div class="row totals">
            <div class="column-1">Total JS:</div>
            <div class="column-2 test-total-js">{{format-bytes @addonSize.totalJsSize}} <span class="asset-size">({{format-bytes @addonSize.totalJsGzipSize}} gzipped)</span></div>
          </div>
        {{/if}}
        {{#if @addonSize.totalCssSize}}
          <div class="row totals">
            <div class="column-1">Total CSS:</div>
            <div class="column-2 test-total-css">{{format-bytes @addonSize.totalCssSize}} <span class="asset-size">({{format-bytes @addonSize.totalCssGzipSize}} gzipped)</span></div>
          </div>
        {{/if}}
      </div>
    {{/if}}
  </span>
{{/if}}
