<section class="test-ember-version-compatibility-section">
  <h6>tests pass in</h6>
  {{#if testResult.succeeded}}
    {{#if allTestsPassed}}
      <p class="test-ember-version-compatibility-semver-compat">
        Ember {{compatibilitySemverString}}
      </p>
    {{else}}
      {{ember-version-compatibility-list versionCompatibilities=sortedVersionCompatibilities}}
    {{/if}}
  {{else}}
    <p class="test-ember-version-compatibility-unknown">
      Version compatibility could not be determined.
    </p>
  {{/if}}
  <p class="test-run-timestamp test-ember-version-compatibility-timestamp">
    Tests last ran {{relative-time date=testResult.testsRunAt}}
  </p>
</section>
