<div class="page-layout {{unless showCategories 'categories-collapsed'}}">
  <div class="main">
    <header class="navigation">
      {{#link-to "index" (query-params query="") class="name"}}
        <img alt="telescope" src="/telescope.png">
        Ember Observer
      {{/link-to}}
      {{#if showHeaderSearch}}
        <div class="search with-default-styling test-header-search">
          {{#power-select-typeahead
              search=(action searchForAddons)
              selected=selectedAddon
              placeholder="Search"
              dropdownClass="test-header-search-dropdown"
              noMatchesMessage="No matching addon names, try another search!"
              onchange=(action goToAddon) as |addonName options|}}
            {{#if addonName.isFullSearchLink}}
              {{#link-to "index" (query-params query=options.searchText) class="jump-to-full-search test-search-result-jump-to-full-search-link"}}
                {{#if addonName.noResults}}
                  No matching addons (by name). Try a full search &raquo;
                {{else}}
                  Perform full search &raquo;
                {{/if}}
              {{/link-to}}
            {{else}}
              {{#link-to "addons.show" addonName class="test-search-result-addon-link"}}{{addonName}}{{/link-to}}
            {{/if}}
          {{/power-select-typeahead}}
        </div>
      {{/if}}
      <nav class="links">
        <ul>
          <li>
            {{#link-to "code-search"}}Code Search{{/link-to}}
          </li>
          <li>
            {{#link-to "about"}}About{{/link-to}}
          </li>
          {{#if session.isAuthenticated}}
            <li>
              <button {{action logoutUser}} class="logout">Log out</button>
            </li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <div class="content">
      {{yield}}
    </div>
    {{#if showCategories}}
      {{category-finder class="categories-list" categories=categories}}
    {{/if}}
  </div>
</div>
