{{#if this.addon.isDeprecated}}
  <span class="score deprecated">
    {{yield "x"}}
  </span>
{{else if this.addon.isWip}}
  <span class="score wip">
    {{yield "WIP"}}
  </span>
{{else}}
  {{#if this.hasBeenReviewedAndScored}}
    <span class="score" data-score={{to-fixed this.addon.score 0}}>
      {{#if (is-equal this.addon.score 10) }}
        {{yield (to-fixed this.addon.score 0)}}
      {{else}}
        {{yield (to-fixed this.addon.score 1)}}
      {{/if}}
    </span>
  {{else}}
    <span class="score">
      {{yield "?"}}
    </span>
  {{/if}}
{{/if}}
