{{#if addon.isWip}}
  <span class="score">
    {{yield "WIP"}}
  </span>
{{else}}
  {{#unless hasNumericScore}}
    <span class="score">
      {{yield "N/A"}}
    </span>
  {{else}}
    <span class="score" data-score="{{addon.score}}">
      {{yield addon.score}}
    </span>
  {{/unless}}
{{/if}}
