<section class="score-detail">
  <h4>
    <ScoreDisplay @addon={{this.addon}} as |score|>
      Score <b>{{score}}</b>
    </ScoreDisplay>
  </h4>
  {{#if this.showExplanation}}
    <a href="#" {{action "toggleExplainScore"}} class="info-action">Hide This</a>

    {{#unless this.addon.hasBeenReviewed}}
      <p class="test-not-reviewed-warning"><em>N/A - This addon has not yet been reviewed.</em></p>
    {{/unless}}
    {{#if this.fetchScoreCalculation.lastSuccessful.value}}
      <ul>
        {{#each this.fetchScoreCalculation.lastSuccessful.value.info.checks as |check|}}
          <li class="score-component test-score-component">
            <div class="score-component-description">
              {{check.explanation}}
            </div>
            <div class="score-component-numbers">
              {{#let (check-pass-proportion check) as |proportion|}}
                Value:
                <span class="score-component-value test-value {{score-component-color proportion}}">{{proportion}}</span>  Max Contribution: <span class="test-max-contribution">{{format-score-contribution check.maxContribution}}</span>
              {{/let}}
            </div>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  {{else}}
    <a href="#" {{action "toggleExplainScore"}} class="info-action test-show-score-explanation">Explain This</a>
  {{/if}}
</section>
