{{#if this.results.length}}
  <div class="results {{this.resultClass}}">
    <h5>
      <a href="#" {{action this.toggleResultsExpansion}}>
        {{#if this.resultsCollapsed}}
          {{svg-icon "chevron-right"}}
        {{else}}
          {{svg-icon "expand-more"}}
        {{/if}}
        {{this.title}} ({{this.totalCount}})
      </a>
    </h5>
    {{#unless this.resultsCollapsed}}
      <div class="results-content">
        {{yield}}
        {{#if (less-than this.results.length this.totalCount)}}
          {{#if this.fetchMore.isRunning}}
            <button type="button" class="button more-results">Fetching more...</button>
          {{else}}
            <button type="button" {{action (perform this.fetchMore)}} class="button more-results">Show more</button>
          {{/if}}
        {{/if}}
      </div>
    {{/unless}}
  </div>
{{/if}}
