<button type="button" class="button-option {{if (is-equal this.selectedSort this.key) "selected"}}" {{action this.sortBy this.key}}>
  {{yield}}
  {{#if (is-equal this.selectedSort this.key)}}
    {{#if this.sortAscending}}
      {{svg-icon "expand-less"}}
    {{else}}
      {{svg-icon "expand-more"}}
    {{/if}}
  {{/if}}
</button>
