<nav class="nav-previous-next">
  {{#with (hash previous=(previous-item model.list.addons model.addon) next=(next-item model.list.addons model.addon)) as |nav|}}
    {{#if nav.previous}}
      {{#link-to "admin.review.addon" nav.previous.name class="previous"}}&laquo; Previous <span class="nav-detail">({{nav.previous.name}})</span>{{/link-to}}
    {{else}}
      <div class="previous"></div>
    {{/if}}
    {{#if nav.next}}
      {{#link-to "admin.review.addon" nav.next.name class="next"}}<span class="nav-detail">({{nav.next.name}})</span> Next &raquo;{{/link-to}}
    {{else}}
        <div class="next"></div>
    {{/if}}
  {{/with}}
</nav>
{{admin-addon addon=model.addon categories=model.categories}}
