<nav class="nav-previous-next">
  {{#with (hash previous=(previous-item this.model.list.addons this.model.addon) next=(next-item this.model.list.addons this.model.addon)) as |nav|}}
    {{#if nav.previous}}
      <LinkTo @route="admin.review.addon" @model={{nav.previous.name}} class="previous">&laquo; Previous <span class="nav-detail">({{nav.previous.name}})</span></LinkTo>
    {{else}}
      <div class="previous"></div>
    {{/if}}
    {{#if nav.next}}
      <LinkTo @route="admin.review.addon" @model={{nav.next.name}} class="next"><span class="nav-detail">({{nav.next.name}})</span> Next &raquo;</LinkTo>
    {{else}}
      <div class="next"></div>
    {{/if}}
  {{/with}}
</nav>
<div class="addon-area">
  <AdminAddon @addon={{this.model.addon}} @categories={{this.model.categories}} />
</div>
