<section class="admin-build-result-nav">
  <LinkTo @route="admin.build-results.index" @query={{hash date=this.formattedPreviousDate}} class="previous-day">
    &laquo; previous day
  </LinkTo>

  Builds for {{this.formattedDisplayDate}}

  {{#if this.showFollowingDayLink}}
    <LinkTo @route="admin.build-results.index" @query={{hash date=this.formattedFollowingDate}} class="next-day">
      next day &raquo;
    </LinkTo>
  {{/if}}
</section>

<table>
  <thead>
    <tr>
      <th>Addon</th>
      <th>Version</th>
      <th>Date/time</th>
      <th>Result</th>
      <th>Semver string</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.sortedBuildResults as |testResult|}}
      <tr class="test-build-result" data-testResultId={{testResult.id}}>
        <td>
          <LinkTo @route="addons.show" @model={{testResult.version.addon.name}}>
            {{testResult.version.addon.name}}
          </LinkTo>
        </td>
        <td>{{testResult.version.version}}</td>
        <td>{{moment-format testResult.testsRunAt 'YYYY-MM-DD HH:mm' allowEmpty=true}}</td>
        <td>
          {{#if testResult.succeeded}}
            succeeded
          {{else}}
            failed - {{testResult.statusMessage}}
          {{/if}}
        </td>
        <td>
          {{if testResult.canary 'canary' testResult.semverString}}
        </td>
        <td>
          <LinkTo @route="admin.build-results.show" @model={{testResult.id}}>
            details
          </LinkTo>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
