<section class="admin-build-result-nav">
  {{#link-to 'admin.build-results.index' (query-params date=formattedPreviousDate) class='previous-day'}}
    &laquo; previous day
  {{/link-to}}

  Builds for {{formattedDisplayDate}}

  {{#if showFollowingDayLink}}
    {{#link-to 'admin.build-results.index' (query-params date=formattedFollowingDate) class='next-day'}}
      next day &raquo;
    {{/link-to}}
  {{/if}}
</section>

<table>
  <thead>
    <tr>
      <th>Addon</th>
      <th>Version</th>
      <th>Date/time</th>
      <th>Result</th>
      <th>Semver string</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedBuildResults as |testResult|}}
      <tr class="test-build-result" data-testResultId={{testResult.id}}>
        <td>
          {{#link-to 'addons.show' testResult.version.addon.name}}
            {{testResult.version.addon.name}}
          {{/link-to}}
        </td>
        <td>{{testResult.version.version}}</td>
        <td>{{moment-format testResult.testsRunAt 'YYYY-MM-DD HH:mm'}}</td>
        <td>
          {{#if testResult.succeeded}}
            succeeded
          {{else}}
            failed - {{testResult.statusMessage}}
          {{/if}}
        </td>
        <td>
          {{if testResult.canary 'canary' testResult.semverString}}
        </td>
        <td>
          {{#link-to 'admin.build-results.show' testResult.id}}
            details
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
