<div class="admin-build-result">
  <h1>
    Build #{{buildResult.id}}
    (<span class="test-addon-name">{{#link-to 'addons.show' addon.name}}{{addon.name}}{{/link-to}}</span>
    <span class="test-addon-version">{{addonVersion.version}}</span>)
  </h1>

  <div>
    Status: <span class="test-build-status">{{buildStatus}}</span>
    {{#if canRetryBuild}}
      <button type="button" onclick={{action 'retryBuild'}} class="test-retry-build">Retry</button>
    {{/if}}
  </div>

  <div>
    Tests run at: <span class="test-run-date">{{moment-format buildResult.testsRunAt 'YYYY-MM-DD HH:mm'}}</span>
  </div>

  <div>
    Semver string:
    <span class="test-semver-string">
      {{if buildResult.canary 'canary' buildResult.semverString}}
    </span>
  </div>

  <h2>Output</h2>
  <pre class="test-output">{{buildResult.output}}</pre>
</div>
