<section class="admin-build-result-nav">
  <LinkTo @route="canary-test-results.date" @model={{this.formattedPreviousDate}} class="previous-day">
    &laquo; previous day
  </LinkTo>

  Canary test results for {{this.formattedDisplayDate}}

  {{#if this.showFollowingDayLink}}
    <LinkTo @route="canary-test-results.date" @model={{this.formattedFollowingDate}} class="next-day">
      next day &raquo;
    </LinkTo>
  {{/if}}
</section>

<CanaryTestResultSummary @testResults={{this.model.testResults}} />

<table>
  <thead>
    <tr>
      <th>Addon</th>
      <th>Addon Version</th>
      <th>Ember Version</th>
      <th>Result</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.testResults as |testResult|}}
      <tr class="canary-test-result">
        <td>
          <LinkTo @route="addons.show" @model={{testResult.version.addon.name}}>
            {{testResult.version.addon.name}}
          </LinkTo>
        </td>
        <td>
          {{testResult.version.version}}
        </td>
        <td>
          {{testResult.emberVersionCompatibilities.firstObject.emberVersion}}
        </td>
        <td class="test-result {{test-result-status-class testResult}}">
          <TestResultStatus @testResult={{testResult}} />
        </td>
        <td>
          <LinkTo @route="canary-test-results.detail" @model={{testResult.id}}>
            View
          </LinkTo>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
