<div class="test-result-detail">
  <h1>
    {{addon.name}} {{addonVersion.version}}
    against {{canary-version testResult}}
  </h1>

  <div>
    Status: <TestResultStatus @testResult={{testResult}} />
  </div>

  <div>
    Tests run at: <span class="test-run-date">{{moment-format testResult.testsRunAt 'YYYY-MM-DD HH:mm' allowEmpty=true}}</span>
  </div>

  <h2>Output</h2>
  <BuildResultOutput @buildResult={{testResult}} />
</div>
