<div class="test-result-detail">
  <h1>
    {{this.addon.name}} {{this.addonVersion.version}}
    against {{canary-version this.testResult}}
  </h1>

  <div>
    Status: <TestResultStatus @testResult={{this.testResult}} />
  </div>

  <div>
    Tests run at: <span class="test-run-date">{{moment-format this.testResult.testsRunAt 'YYYY-MM-DD HH:mm' allowEmpty=true}}</span>
  </div>

  <h2>Output</h2>
  <BuildResultOutput @buildResult={{this.testResult}} />
</div>
