{{#if this.review}}
  <p class="review-date">
    Manually reviewed on {{moment-format this.review.createdAt "MMMM Do YYYY" allowEmpty=true}} for version {{this.review.version.version}}
  </p>
  <ol class="questions">
    {{#each this.answeredQuestions as |question|}}
      <li class="test-review-question">
        <span class="question">{{question.text}}</span>
        <span class="answer">{{question.answer}}</span>
      </li>
    {{/each}}
  </ol>
  <br>
  {{#if this.review.review}}
    <h6>Comments</h6>
    <fieldset class="test-review-notes">
      <MarkdownToHtml @markdown={{this.review.review}} />
    </fieldset>
  {{/if}}
{{/if}}
