<h2 id="title">Categories</h2>
<ul>
  {{#each this.sortedTopLevelCategories as |category|}}
    <li title={{category.description}}>
      <LinkTo @route={{this.categoryLinkRoute}} @model={{category.slug}} class="test-category">
        {{category.name}} ({{category.totalAddonCount}})
      </LinkTo>
    </li>
    {{#if category.subcategories}}
      {{#each category.subcategories as |subcategory|}}
        <li class="indent" title={{subcategory.description}}>
          <LinkTo @route={{this.categoryLinkRoute}} @model={{subcategory.slug}} class="test-subcategory">
            <span class="bullet">&#9632;</span>
            {{subcategory.name}} ({{subcategory.totalAddonCount}})
          </LinkTo>
        </li>
      {{/each}}
    {{/if}}
  {{/each}}
</ul>
