{{#if this.collapsed}}
  {{#if this.loadDependencies.isRunning}}
    <p class="uncollapse"><DotSpinner /></p>
  {{else if this.loadDependencies.last.isError}}
    <p class="uncollapse test-uncollapse-error">Unable to load addons</p>
  {{else}}
    <a href="#" class="uncollapse test-show-dependents" {{action (perform this.loadDependencies)}}>Show addons</a>
  {{/if}}
{{else}}
  {{#if this.addonHasDependencies}}
    <p class="description">{{this.description}}</p>
    <div class="dependency-table">
      <div>
        <table class="version-dependencies test-dev-dependencies">
          <tr>
            <th>Dev Dependencies</th>
          </tr>
          {{#each this.devDependencies as |dependency index|}}
            {{#if (or this.showingAllDependencies (lt index this.limit))}}
              <tr>
                <td class="test-dependency-name">
                  <LinkTo @route="addons.show" @model={{dependency}}>{{dependency}}</LinkTo>
                </td>
              </tr>
            {{/if}}
          {{else}}
            <tr><td>None</td></tr>
          {{/each}}
          {{#if this.hasHiddenDevDependencies}}
            <tr><td>...</td></tr>
            <tr>
              <td>
                <a href="#" class="more test-show-all-dependencies" {{action (mut this.showingAllDependencies) true}}>Show {{this.hiddenDevDependencyCount}} more</a>
              </td>
            </tr>
          {{/if}}
        </table>
      </div>
      <div>
        <table class="version-dependencies test-dependencies">
          <tr>
            <th>Dependencies</th>
          </tr>
          {{#each this.dependencies as |dependency index|}}
            {{#if (or this.showingAllDependencies (lt index this.limit))}}
              <tr>
                <td class="test-dependency-name">
                  <LinkTo @route="addons.show" @model={{dependency}}>{{dependency}}</LinkTo>
                </td>
              </tr>
            {{/if}}
          {{else}}
            <tr><td>None</td></tr>
          {{/each}}
          {{#if this.hasHiddenDependencies}}
            <tr><td>...</td></tr>
            <tr>
              <td>
                <a href="#" class="more test-show-all-dependencies" {{action (mut this.showingAllDependencies) true}}>Show {{this.hiddenDependencyCount}} more</a>
              </td>
            </tr>
          {{/if}}
        </table>
      </div>
    </div>
    <hr>
  {{else}}
    <p class="no-addons description test-no-addons-message">{{this.noAddonsMessage}}</p>
  {{/if}}
{{/if}}
