<div class="ember-version-compatibility test-ember-version-compatibility-section">
  <h6>ember compatibility</h6>
  {{#if this.testResult.succeeded}}
    {{#if this.allTestsPassed}}
      <p>
        <span class="test-ember-version-compatibility-semver-compat">
          All tests pass with Ember {{this.compatibilitySemverString}}
        </span>
        <br>
        <em class="test-ember-version-compatibility-timestamp">
          last ran <RelativeTime @date={{this.testResult.testsRunAt}} />
        </em>
      </p>
      {{#if this.showTable}}
        <button type="button" class="info-action test-ember-version-compatibility-show-table btn-link" {{on "click" this.toggleShowTable}}>Hide results</button>
        <EmberVersionCompatibilityList @versionCompatibilities={{this.sortedVersionCompatibilities}} />
      {{else}}
        <button type="button" class="info-action test-ember-version-compatibility-show-table btn-link" {{on "click" this.toggleShowTable}}>Show detailed results</button>
      {{/if}}
    {{else}}
      Tests run against Ember {{this.compatibilitySemverString}} but not all tests passed.
      <br>
      <em class="test-ember-version-compatibility-timestamp">
        last ran <RelativeTime @date={{this.testResult.testsRunAt}} />
      </em>
      <EmberVersionCompatibilityList @versionCompatibilities={{this.sortedVersionCompatibilities}} />
    {{/if}}
  {{else}}
    <p>
      <span class="test-ember-version-compatibility-unknown">
        We were unable to run this addon's tests.
      </span>
      <br>
      <em class="test-ember-version-compatibility-timestamp">
        last tried <RelativeTime @date={{this.testResult.testsRunAt}} />
      </em>
    </p>
  {{/if}}
</div>
