<div class="large-search with-default-styling">
  <div class="search">
    <div class="search-wrapper">
      <input type="search"
             placeholder="Search for addons, maintainers and categories"
             autocomplete="off"
             id="search-input"
             spellcheck="false"
             value={{this.query}}
             oninput={{action (perform this.search) value="target.value"}}>
      {{#if this.query}}
        <button type="button" {{action this.clearSearch}} class="close-button test-clear-search">
          {{svg-icon "close"}}
        </button>
      {{/if}}
    </div>
    <div class="readme-toggle">
      <Input @type="checkbox" class="test-search-readmes" @id="search-readmes" @checked={{this.searchReadmes}} @change={{action (perform this.toggleReadmeSearch)}} />
      <label for="search-readmes">Search readmes</label>
    </div>
    <h6 class="no-results {{if this.hasSearchedAndNoResults 'showing'}}">No results found for "{{this.query}}"</h6>
  </div>

  {{#if this.results.length}}
    <h4 class="result-info test-result-info">Results for "{{this.query}}"</h4>
    <SearchResultSet @results={{this.results.displayingReadmes}} @totalCount={{this.results.totalReadmeCount}} @fetchMore={{this.fetchMoreReadmes}} @title="Readmes" @resultClass="readme-results">
      <ul class="readme-list">
        {{#each this.results.displayingReadmes as |addon|}}
          <li>
            <AddonDetails @addon={{addon}} />
            {{#each (get this._results.readmeMatchMap addon.id) as |match|}}
              <div class="test-readme-match text-match">
                ...{{dom-purify match use-profiles=(hash html=true) hook='target-blank'}}...
              </div>
            {{/each}}
          </li>
        {{/each}}
      </ul>
    </SearchResultSet>
    <SearchResultSet @results={{this.results.displayingCategories}} @totalCount={{this.results.totalCategoriesCount}} @fetchMore={{this.fetchMoreCategories}} @title="Categories" @resultClass="category-results">
      <ul>
        {{#each this.results.displayingCategories as |category|}}
          <li>
            <LinkTo @route="categories.show" @model={{category.slug}}>
              <span class="bullet">&#9632;</span>
              <div>{{category.name}} ({{category.totalAddonCount}})</div>
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    </SearchResultSet>
    <SearchResultSet @results={{this.results.displayingAddons}} @totalCount={{this.results.totalAddonsCount}} @fetchMore={{this.fetchMoreAddons}} @title="Addons" @resultClass="addon-results">
      <AddonList @addons={{this.results.displayingAddons}} />
    </SearchResultSet>
    <SearchResultSet @results={{this.results.displayingMaintainers}} @totalCount={{this.results.totalMaintainersCount}} @fetchMore={{this.fetchMoreMaintainers}} @title="Maintainers" @resultClass="maintainer-results">
      <ul>
        {{#each this.results.displayingMaintainers as |maintainer|}}
          <li>
            <LinkTo @route="maintainers.show" @model={{maintainer.name}}>
              <span class="bullet">&#9632;</span>
              <div>{{maintainer.name}}</div>
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    </SearchResultSet>
  {{else if this.search.isRunning}}
    <DotSpinner />
  {{/if}}
</div>
