<div class="page-layout {{unless this.showCategories 'categories-collapsed'}}">
  <div class="main">
    <header class="navigation">
      <LinkTo @route="index" @query={{hash query=""}} class="name">
        <img alt="telescope" src="/telescope.svg">
        Ember Observer
      </LinkTo>
      {{#if this.showHeaderSearch}}
        <div class="search with-default-styling test-header-search">
          <PowerSelectTypeahead @search={{action (perform this.searchForAddons)}} @selected={{this.selectedAddon}} @placeholder="Search" @dropdownClass="test-header-search-dropdown" @noMatchesMessage="No matching addon names, try another search!" @onchange={{action (perform this.goToAddon)}} as |addonName options|>
            {{#if addonName.isFullSearchLink}}
              <LinkTo @route="index" @query={{hash query=options.searchText}} class="jump-to-full-search test-search-result-jump-to-full-search-link">
                {{#if addonName.noResults}}
                  No matching addons (by name). Try a full search &raquo;
                {{else}}
                  Perform full search &raquo;
                {{/if}}
              </LinkTo>
            {{else}}
              <LinkTo @route="addons.show" @model={{addonName}} class="test-search-result-addon-link">{{addonName}}</LinkTo>
            {{/if}}
          </PowerSelectTypeahead>
          {{#if this.searchForAddons.isRunning}}
            {{svg-icon "spinner" class="circle-spinner"}}
          {{/if}}
        </div>
      {{/if}}
      <nav class="links">
        <ul>
          <li>
            <LinkTo @route="code-search">Code Search</LinkTo>
          </li>
          <li>
            <LinkTo @route="about">About</LinkTo>
          </li>
          {{#if this.session.isAuthenticated}}
            <li>
              <button type="button" {{action this.logoutUser}} class="logout">Log out</button>
            </li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <div class="content">
      {{yield}}
    </div>
    {{#if this.showCategories}}
      <CategoryFinder @class="categories-list" @categories={{this.categories}} />
    {{/if}}
  </div>
</div>
