{{#if @results.length}}
  <div class="results {{@resultClass}}">
    <h5>
      <button type="button" class="btn-link" {{on "click" this.toggleResultsExpansion}}>
        {{#if this.resultsCollapsed}}
          {{svg-icon "chevron-right"}}
        {{else}}
          {{svg-icon "expand-more"}}
        {{/if}}
        {{@title}} ({{@totalCount}})
      </button>
    </h5>
    {{#unless this.resultsCollapsed}}
      <div class="results-content">
        {{yield}}
        {{#if (less-than @results.length @totalCount)}}
          {{#if @fetchMore.isRunning}}
            <button type="button" class="button more-results">Fetching more...</button>
          {{else}}
            <button type="button" class="button more-results" {{on "click" (perform @fetchMore)}}>Show more</button>
          {{/if}}
        {{/if}}
      </div>
    {{/unless}}
  </div>
{{/if}}
