<button type="button" class="button-option {{if (is-equal @selectedSort @key) "selected"}}" {{on "click" (fn @sortBy @key)}}>
  {{yield}}
  {{#if (is-equal @selectedSort @key)}}
    {{#if @sortAscending}}
      {{svg-icon "expand-less"}}
    {{else}}
      {{svg-icon "expand-more"}}
    {{/if}}
  {{/if}}
</button>
