<div class="component-toggle-switch" ...attributes>
  <input type="checkbox" name="toggle-switch-{{@name}}" id="toggle-switch-{{@name}}" checked={{@isChecked}} {{on "change" this.onToggle}}>
  <label for="toggle-switch-{{@name}}">{{@label}}</label>
</div>
