<div class="admin-categories-edit with-default-styling">
  <form {{action "updateCategory" on="submit"}}>
    <fieldset>
      <label for="name">
        Name:
      </label>
      <Input @type="text" @id="name" @value={{this.categoryName}} />
      <br>
      <label for="description">
        Description:
      </label>
      <Input @type="text" @id="description" @value={{this.categoryDescription}} />
      {{#if this.hasSiblingCategories}}
        <br>
        <label for="position">
          Position:
        </label>
        <CategoryPositionDropdown @name="position" @position={{this.categoryPosition}} @updatePosition={{action (mut this.categoryPosition)}} @categories={{this.sortedSiblingCategories}} />
      {{else}}
        <Input @type="hidden" @id="position" @value={{this.categoryPosition}} />
      {{/if}}
      <br>
      <label for="parent">
        Parent category:
      </label>
      <XSelect @name="parent" @value={{this.categoryParent}}>
        <XOption>(none)</XOption>
        {{#each this.alphabeticTopLevelCategories as |category|}}
          <XOption @value={{category.id}}>{{category.name}}</XOption>
        {{/each}}
      </XSelect>
      <br>
      <input type="submit" value="Save category">
    </fieldset>
  </form>

  {{#if this.isTopLevelCategory}}
    <h4>Subcategories</h4>
    {{#if this.subcategories}}
      <ol>
        {{#each this.subcategories as |category|}}
          <li><LinkTo @route="admin.categories.edit" @model={{category.slug}}>{{category.name}}</LinkTo></li>
        {{/each}}
      </ol>
    {{else}}
      This category has no subcategories.
    {{/if}}

    <form {{action "addSubcategory" on="submit"}}>
      <fieldset>
        <label for="subcategoryName">
          Name:
        </label>
        <Input @type="text" @id="subcategoryName" @value={{this.newCategoryName}} />
        <br>
        <label for="subcategoryDescription">
          Description:
        </label>
        <Input @type="text" @id="subcategoryDescription" @value={{this.newCategoryDescription}} />
        <br>
        <label for="subcategoryPosition">
          Position:
        </label>
        <CategoryPositionDropdown @name="subcategoryPosition" @position={{this.newCategoryPosition}} @categories={{this.subcategories}} />
        <br>
        <input type="submit" value="Add category">
      </fieldset>
    </form>
  {{/if}}
</div>
