<div class="container categories-show">
  <div class="details">
    <div class="category-details">
      <h1 class="test-category-header">{{model.name}}</h1>
      <p class="description test-category-description">
        {{model.description}}<br>
        {{#if model.parent}}
          Subcategory of {{#link-to 'categories.show' model.parent class="test-parent-category-link"}}{{model.parent.name}} ({{model.parent.addonCount}}){{/link-to}}
        {{/if}}
      </p>
      {{#if hasSubcategories}}
        <h6>Subcategories</h6>
        {{inline-category-list categories=model.subcategories showAddonCount=true showWithoutParent=true}}
      {{/if}}
    </div>
    <div class="sort-controls">
      Sort by:
      <div class="button-select">
        {{sort-option name="Score" key="score" selectedSort=addonSortKey sortBy="sortBy"}}
        {{sort-option name="Name" key="name" selectedSort=addonSortKey sortBy="sortBy"}}
        {{sort-option name="Updated" key="latestVersionDate" selectedSort=addonSortKey sortBy="sortBy"}}
      </div>
    </div>
  </div>

  <div class="addons">
    {{addons-table addons=sortedAddons sortKey=addonSortKey showAddon="showAddon"}}
  </div>
</div>
