<div class="categories-show">
  <div class="details">
    <div class="category-details">
      <h1 class="test-category-header">
        {{category.name}}
      </h1>
      <p class="description test-category-description">
        {{category.description}}
        <br />
        {{#if category.parent}}
          Subcategory of
          {{#link-to
            "categories.show"
            category.parent.slug
            class="test-parent-category-link"
          }}
            {{category.parent.name}}({{category.parent.totalAddonCount}})
          {{/link-to}}
        {{/if}}
      </p>
      {{#if hasSubcategories}}
        <h6>
          Subcategories
        </h6>
        {{inline-category-list
          categories=category.subcategories
          showAddonCount=true
          showWithoutParent=true
        }}
      {{/if}}
    </div>
    <div class="sort-controls">
      Sort by:
      <div class="button-select">
        {{sort-option
          name="Score"
          key="score"
          selectedSort=addonSortKey
          sortBy="sortBy"
        }}
        {{sort-option
          name="Name"
          key="name"
          selectedSort=addonSortKey
          sortBy="sortBy"
        }}
        {{sort-option
          name="Updated"
          key="latestVersionDate"
          selectedSort=addonSortKey
          sortBy="sortBy"
        }}
      </div>
    </div>
  </div>
  <div class="addons">
    <span class="addon-count test-addon-table-count">
      Displaying
      {{pluralize-this sortedAddons.length "addon"}}
    </span>
    {{addon-list addons=sortedAddons}}
  </div>
</div>