<div class="categories-show">
  <div class="details">
    <div class="category-details">
      <h1 class="test-category-header">{{this.category.name}}</h1>
      <p class="description test-category-description">
        {{this.category.description}}<br>
        {{#if this.category.parent}}
          Subcategory of <LinkTo @route="categories.show" @model={{this.category.parent.slug}} class="test-parent-category-link">{{this.category.parent.name}} ({{this.category.parent.totalAddonCount}})</LinkTo>
        {{/if}}
      </p>
      {{#if this.hasSubcategories}}
        <h6>Subcategories</h6>
        <InlineCategoryList @categories={{this.category.subcategories}} @showAddonCount={{true}} @showWithoutParent={{true}} />
      {{/if}}
    </div>
    <div class="sort-controls">
      Sort by:
      <div class="button-select">
        <SortOption @name="Score" @key="score" @selectedSort={{this.addonSortKey}} @sortBy={{this.sortBy}} data-test-sort-by="score" />
        <SortOption @name="Name" @key="name" @selectedSort={{this.addonSortKey}} @sortBy={{this.sortBy}} data-test-sort-by="name" />
        <SortOption @name="Updated" @key="latestVersionDate" @selectedSort={{this.addonSortKey}} @sortBy={{this.sortBy}} data-test-sort-by="updated" />
      </div>
    </div>
  </div>

  <div class="addons">
    <span class="addon-count test-addon-table-count">Displaying {{pluralize-this this.sortedAddons.length "addon"}}</span>
    <AddonList @addons={{this.sortedAddons}} />
  </div>
</div>
