<div class="container categories-show">
  <h1 class="test-category-header">{{model.name}}</h1>
  <p class="description test-category-description">
    {{model.description}}<br>
    {{#if model.parent}}
      Subcategory of {{#link-to 'categories.show' model.parent}}{{model.parent.name}} ({{model.parent.addonCount}}){{/link-to}}
    {{/if}}
  </p>
  {{#if hasSubcategories}}
    <h6>Subcategories</h6>
    {{inline-category-list categories=model.subcategories showAddonCount=true showWithoutParent=true}}
  {{/if}}

  {{addons-table addons=model.addons sortKey=addonSortKey showAddon="showAddon"}}
</div>
