<section>
  <h4>
        <span class="score" data-score={{score-class model.score}}>
          Score <b>{{score-display model.score}}</b>
        </span>
  </h4>
  {{#if showExplanation}}
    <a href="#" {{action "toggleExplainScore"}} class="info-action">Hide This</a>

    {{#unless model.score}}
      <p><em>N/A - This addon has not yet been reviewed, the following will contribute to it's score once it has been reviewed:</em></p>
    {{/unless}}
    <ul>
      {{#if latestReview}}
        <li>{{pluralize latestReview.score "point"}} from review</li>
      {{/if}}
      {{#if model.isTopDownloaded}}
        <li>1 point for having a download count in the last 30 days that is in the top 10% for all addons.</li>
      {{else}}
        <li>0 points - Download count for the last 30 days that is NOT in the top 10% for all addons.</li>
      {{/if}}
      {{#if isLatestReleaseInLast3Months}}
        <li>1 point for having published a released within the last 3 months</li>
      {{else}}
        <li>0 points - Most recent release is older than 3 months.</li>
      {{/if}}

      {{#unless model.hasGithubData}}
        <li>No Github info is available, so 3 of the available points could not be evaluated. Is the repo url correct in the package.json?</li>
      {{else}}
        {{#if model.committedToRecently}}
          <li>1 point for more than 1 commit within the last 3 months</li>
        {{else}}
          <li>0 points - Fewer than 2 commits within the last 3 months</li>
        {{/if}}
        {{#if model.hasMoreThan1Contributor}}
          <li>1 point for having more than 1 contributor</li>
        {{else}}
          <li>0 points - Fewer than 2 contributors</li>
        {{/if}}

        {{#if model.isTopStarred}}
          <li>1 point for having a Github star count in the top 10% of all addons.</li>
        {{else}}
          <li>0 points - Star count on Github is NOT in the top 10% of all addons.</li>
        {{/if}}
      {{/unless}}
    </ul>

  {{else}}
    <a href="#" {{action "toggleExplainScore"}} class="info-action">Explain This</a>
  {{/if}}
</section>
