<h4 class="single-column-header">Stats</h4>
<p class="addon-install test-addon-install-command">
  {{installCommandText}}
</p>

<ul class="stats-list">
  <li class="test-addon-latest-version"><b>{{model.latestVersion.version}}</b> from {{relative-time date=model.latestVersionDate}}</li>
  <li class="test-addon-top-downloaded">{{#if model.isTopDownloaded}}
    <div>
      <small>TOP 10%!</small>
    </div>{{/if}}<b>{{model.lastMonthDownloads}}</b> downloads in last month
  </li>
  {{#if model.demoUrl}}
  <li class="test-addon-demo-url"><b>demo</b> {{human-url url=model.demoUrl}}</li>
  {{/if}}
  <li class="test-addon-repo-url"><b>repo</b> {{human-url url=model.repositoryUrl}}</li>
  <li class="test-addon-package-url"><b>package</b> {{human-url url=model.npmUrl}}</li>
  <li class="test-addon-license"><b>license</b> <a href={{licenseUrl}}>{{model.license}}</a></li>
</ul>

{{#if latestTestResult}}
  {{ember-version-compatibility testResult=latestTestResult}}
  {{#unless isTestResultForLatestVersion}}
    <em class="test-ember-version-compatibility-new-version-warning"><span class="icon-new-releases"></span> New versions of this addon have been released since these tests ran.</em>
  {{/unless}}
{{/if}}

<h6>npm keywords</h6>

<p class="keywords test-addon-keywords">

  {{#each keywords as |keyword|}}
    {{#comma-separated list=model.keywords item=keyword as |value separator|}}
      {{value.keyword}}{{separator}}
    {{/comma-separated}}
  {{/each}}
</p>

<h6>maintainers</h6>
<p class="test-addon-maintainers">
{{#each maintainers as |maintainer|}}
  {{#link-to "maintainers.show" maintainer}}
    {{gravatar-avatar gravatarId=maintainer.gravatar title=maintainer.name alt=maintainer.name}}
  {{/link-to}}
{{/each}}
</p>

{{#if model.latestVersion.emberCliVersion}}
  <h6>ember-cli version</h6>
  <p class="test-addon-ember-cli-version">{{model.latestVersion.emberCliVersion}}</p>
{{/if}}

<h6 class="test-addon-version-count">versions ({{model.sortedVersions.length}})</h6>

<p>
  {{addon-version-list versions=model.sortedVersions}}
</p>

<section class="badge test-addon-badge">
  <img src={{badgeSrc}}>
  <span class="icon-content-paste copy-to-clipboard test-show-badge-markdown" title="Show badge markdown to copy" {{action "toggleBadgeText"}}></span>
  {{#if showBadgeText}}
    <hr>
    <code class="test-badge-markdown">
     {{badgeText}}
    </code>
  {{/if}}
</section>
<hr>
{{link-to 'Suggest a correction' 'addons.correct' model class="test-addon-correction-link"}}
