<div class="addons-correct with-default-styling">
  <h1>
    {{#if model.isOfficial}}
      <span class="icon-stars official" title="Official Ember-CLI addon"></span>
    {{/if}}

    {{#if model.isCliDependency}}
      <span class="icon-stars dependency" title="Dependency of newly generated Ember-CLI applications"></span>
    {{/if}}

    {{model.name}}

  </h1>

  <p class="description">{{model.description}}</p>

  <h2>Suggest a correction</h2>

  <form {{action "submitCorrection" on="submit"}}>
    {{input type="text" value=name placeholder="Your name"}}
    {{input type="text" value=email placeholder="Your email address"}}
    {{textarea value=correction placeholder="Describe what needs correcting"}}
    <p>
      <strong>Note:</strong>
      Most of the data (other than the reviews) presented for an addon comes from NPM.
      If you've updated the <code>package.json</code> file for an addon, you'll need to push a new release to NPM for
      the information to update.
      <br>
      A new NPM release also means the addon will be queued up for a new review.
    </p>
    <input type="submit" class="button" value="Submit">
    <button type="button" class="button" {{action "cancel"}} class="cancel">Cancel</button>
  </form>
</div>
