<div class="addons-correct with-default-styling">
  <h1>
    {{#if this.model.isOfficial}}
      <OfficialIcon />
    {{/if}}

    {{#if this.model.isCliDependency}}
      <DependencyIcon />
    {{/if}}

    {{this.model.name}}

  </h1>

  <p class="description">{{this.model.description}}</p>

  <h2>Suggest a correction</h2>
  <p>Ember Observer is an index of Ember addons. We do not maintain {{this.model.name}}.</p>
  <form {{action "submitCorrection" on="submit"}}>
    <Input @type="text" @value={{this.name}} placeholder="Your name" />
    <Input @type="text" @value={{this.email}} placeholder="Your email address" />
    <Textarea @value={{this.correction}} placeholder="Describe what needs correcting" />    <p>
      <strong>Note:</strong>
      Most of the data (other than the reviews) presented for an addon comes from NPM.
      If you've updated the <code>package.json</code> file for an addon, you'll need to push a new release to NPM for
      the information to update.
      <br>
      A new NPM release also means the addon will be queued up for a new review.
    </p>
    <input type="submit" class="button" value="Submit">
    <button type="button" class="button cancel" {{action "cancel"}}>Cancel</button>
  </form>
</div>
