<div class="container addons-show">
  <div class="addon-info">
    <section>
      {{#if model.isDeprecated}}
        <label class="alert">DEPRECATED</label>
      {{/if}}

      {{#if model.isNewAddon}}
        <small>NEW!</small>
      {{/if}}

      <h1>
        {{#if model.isOfficial}}
          <span class="icon-stars official" title="Offical Ember-CLI addon"></span>
        {{/if}}

        {{#if model.isCliDependency}}
          <span class="icon-stars dependency" title="Dependency of newly generated Ember-CLI applications"></span>
        {{/if}}

        {{model.name}}
      </h1>

      <p>{{model.description}}</p>
    </section>
    {{#if model.note}}
      {{addon-note content=model.renderedNote}}
    {{/if}}

    <section>
      <h4>
        <span class="score" {{bind-attr data-score="model.score"}}>
          Score <b>{{model.score}}{{#unless latestReview}}*{{/unless}}</b>
        </span>
      </h4>
      {{#if showExplanation}}
        <a href="#" {{action "toggleExplainScore"}} class="info-action">Hide This</a>
        <ul>
          {{#if latestReview}}
            <li>{{pluralize latestReview.score "point"}} from review</li>
          {{else}}
            <li>0 points from review (Not yet reviewed)</li>
          {{/if}}
          {{#if model.isTopDownloaded}}
            <li>1 point for having a download count in the last 30 days that is in the top 10% for all addons.</li>
          {{else}}
            <li>0 points - Download count for the last 30 days that is NOT in the top 10% for all addons.</li>
          {{/if}}
          {{#if isLatestReleaseInLast3Months}}
            <li>1 point for having published a released within the last 3 months</li>
          {{else}}
            <li>0 points - Most recent release is older than 3 months.</li>
          {{/if}}

          {{#unless model.hasGithubData}}
            <li>No Github info is available, so 3 of the available points could not be evaluated. Is the repo url correct in the package.json?</li>
          {{else}}
            {{#if model.committedToRecently}}
              <li>1 point for more than 1 commit within the last 3 months</li>
            {{else}}
              <li>0 points - Fewer than 2 commits within the last 3 months</li>
            {{/if}}
            {{#if model.hasMoreThan1Contributor}}
              <li>1 point for having more than 1 contributor</li>
            {{else}}
              <li>0 points - Fewer than 2 contributors</li>
            {{/if}}

            {{#if model.isTopStarred}}
              <li>1 point for having a Github star count in the top 10% of all addons.</li>
            {{else}}
              <li>0 points - Star count on Github is NOT in the top 10% of all addons.</li>
            {{/if}}
          {{/unless}}
        </ul>

      {{else}}
        <a href="#" {{action "toggleExplainScore"}} class="info-action">Explain This</a>
      {{/if}}
    </section>

    {{#if session.isAuthenticated}}
      <form {{action "save" on="submit"}}>
        <fieldset>
          <label>Note</label>
          {{input value=model.note}}

          {{#if isSaving}}
            <input type="submit" value="Saving" disabled>
          {{else}}
            {{input type="submit" value="Save"}}
          {{/if}}
        </fieldset>

        <fieldset>
          <ul>
            <li>{{input type="checkbox" id="official" checked=model.isOfficial}} <label for="official">Is Official?</label></li>
            <li>{{input type="checkbox" id="deprecated" checked=model.isDeprecated}} <label for="deprecated">Is Deprecated?</label></li>
            <li>{{input type="checkbox" id="cli-dependency" checked=model.isCliDependency}} <label for="cli-dependency">Is CLI Dependency?</label></li>
            <li>{{input type="checkbox" id="hide" checked=model.isHidden}} <label for="hide">Hide?</label></li>
            <li>{{input type="checkbox" id="has-invalid-github-repo" checked=model.hasInvalidGithubRepo}} <label for="has-invalid-github-repo">Has invalid Github repo?</label></li>
          </ul>
          {{#if isSaving}}
            <input type="submit" value="Saving" disabled>
          {{else}}
            {{input type="submit" value="Save"}}
          {{/if}}
        </fieldset>
      </form>
    {{/if}}

    <section class="categories">
      <h4>Categories</h4>
      <p>
        {{inline-category-list categories=model.categories}}
        {{#unless model.categories}}
          This addon hasn't been categorized yet.
        {{/unless}}
      </p>
      {{#if session.isAuthenticated}}
        <form {{action "save" on="submit"}}>
          <fieldset>
            {{multiselect-checkboxes options=categories labelProperty="displayName" selection=model.categories}}

            {{#if isSaving}}
              <input type="submit" value="Saving" disabled>
            {{else}}
              {{input type="submit" value="Save"}}
            {{/if}}
          </fieldset>
        </form>
      {{/if}}
    </section>
    {{#if model.hasGithubData}}
      <section class="repo-info">
        <h4>Github</h4>

        {{#if model.isTopStarred}}
          <small>TOP 10% STARRED</small>
        {{/if}}
        <div class="stats">
          <ul>
            <li>{{model.openIssues}}<span>Open Issues</span></li>
            <li>{{model.forks}}<span>Forks</span></li>
            <li>{{model.stars}}<span>Starred</span></li>
            <li>{{model.contributors.length}}<span>Contributors</span></li>
          </ul>
        </div>
        <div class="commit-stats">
          <strong>latest commit</strong>
          <p>{{ago model.latestCommitDate}}</p>

          <strong>first commit</strong>
          <p>{{ago model.firstCommitDate}}</p>
        </div>
      </section>
    {{/if}}

    <section class="latest-review">
      <h4>Review</h4>
      {{#if latestReview}}
        {{#unless isLatestReviewForLatestVersion}}
          <em><span class="icon-new-releases"></span> New versions of this addon have been released since this review was undertaken.</em>
        {{/unless}}
        {{addon-review review=latestReview}}
      {{else}}
        <p class="no-review">This addon has not yet been reviewed.</p>
      {{/if}}
    </section>

    <small>* Incomplete</small>
  </div>

  <div class="addon-stats">
    <h4 class="single-column-header">Stats</h4>
    <p class="addon-install">npm install {{model.name}}</p>

    <ul class="stats-list">
      <li><b>{{model.latestVersion.version}}</b> from {{ago model.latestVersionDate}}</li>
      <li>{{#if model.isTopDownloaded}}<div><small>TOP 10%!</small></div>{{/if}}<b>{{model.lastMonthDownloads}}</b> downloads in last month </li>
      <li><b>repo</b> {{human-url url=model.repositoryUrl}}</li>
      <li><b>package</b> {{human-url url=model.npmUrl}}</li>
      <li><b>license</b> <a {{bind-attr href="licenseUrl"}}>{{model.license}}</a></li>
    </ul>
    <h6>npm keywords</h6>

    <p class="keywords">

      {{#each keyword in keywords}}
        {{#comma-separated list=model.keywords item=keyword as |value separator|}}
          {{value.keyword}}{{separator}}
        {{/comma-separated}}
      {{/each}}
    </p>

    <h6>maintainers</h6>
    {{#each maintainer in maintainers}}
      {{#link-to "maintainers.show" maintainer}}
        {{gravatar-avatar gravatarId=maintainer.gravatar title=maintainer.name alt=maintainer.name}}
      {{/link-to}}
    {{/each}}

    <h6>versions ({{model.sortedVersions.length}})</h6>

    <ul class="versions">
      {{#each version in model.sortedVersions}}
        <li>{{moment version.released "YYYY-MMM-DD"}} <span class="version-number">{{version.version}}</span></li>
      {{/each}}
    </ul>
    <section class="badge">
      <img src={{badgeSrc}}>{{zero-clipboard text=badgeText label="" innerClass="icon-content-paste" class="copy-to-clipboard" title="Copy badge markdown to clipboard"}}
    </section>
    <hr>
    {{link-to 'Suggest a correction' 'addons.correct' model}}
  </div>

  <div class="new-review">
    {{#if session.isAuthenticated}}
      {{#if isReviewing}}
        {{addon-review-form review=newReview questions=newReview.questions save="saveReview"}}
      {{else}}
        <button {{action "review"}}>Review</button>
      {{/if}}
    {{/if}}
  </div>
</div>
