<div class="container addons-show">
  <div class="addon-info">
    <section>
      {{#if model.isDeprecated}}
        <label class="alert">DEPRECATED</label>
      {{/if}}

      {{#if model.isNewAddon}}
        <small>NEW!</small>
      {{/if}}

      <h1>
        {{#if model.isOfficial}}
          <span class="icon-stars official" title="Offical Ember-CLI addon"></span>
        {{/if}}

        {{#if model.isCliDependency}}
          <span class="icon-stars dependency" title="Dependency of newly generated Ember-CLI applications"></span>
        {{/if}}

        {{model.name}}
      </h1>

      <p>{{model.description}}</p>
    </section>
    {{#if model.note}}
      {{addon-note content=model.renderedNote}}
    {{/if}}

    {{partial "addons/score-detail"}}
    {{#if session.isAuthenticated}}
      {{partial "addons/info-form"}}
    {{/if}}

    <section class="categories">
      <h4>Categories</h4>
      <p>
        {{inline-category-list categories=model.categories}}
        {{#unless model.categories}}
          This addon hasn't been categorized yet.
        {{/unless}}
      </p>
      {{#if session.isAuthenticated}}
        {{partial "addons/categories-form"}}
      {{/if}}
    </section>
    {{#if model.hasGithubData}}
      <section class="repo-info">
        <h4>Github</h4>

        {{#if model.isTopStarred}}
          <small>TOP 10% STARRED</small>
        {{/if}}
        <div class="stats">
          <ul>
            <li>{{model.openIssues}}<span>Open Issues</span></li>
            <li>{{model.forks}}<span>Forks</span></li>
            <li>{{model.stars}}<span>Starred</span></li>
            <li>{{model.contributors.length}}<span>Contributors</span></li>
          </ul>
        </div>
        <div class="commit-stats">
          <strong>latest commit</strong>
          <p>{{relative-time date=model.latestCommitDate}}</p>

          <strong>first commit</strong>
          <p>{{relative-time date=model.firstCommitDate}}</p>
        </div>
      </section>
    {{/if}}

    <section class="latest-review">
      <h4>Review</h4>
      {{#if latestReview}}
        {{#unless isLatestReviewForLatestVersion}}
          <em><span class="icon-new-releases"></span> New versions of this addon have been released since this review was undertaken.</em>
        {{/unless}}
        {{addon-review review=latestReview}}
        {{#if session.isAuthenticated}}
          <button {{action "renewLatestReview"}}>Renew Review</button>
        {{/if}}
      {{else}}
        <p class="no-review">This addon has not yet been reviewed.</p>
      {{/if}}
    </section>
  </div>

  <div class="addon-stats">
    {{partial "addons/stats-bar"}}
  </div>

  <div class="new-review">
    {{#if session.isAuthenticated}}
      {{#if isReviewing}}
        {{addon-review-form review=newReview questions=newReview.questions save="saveReview"}}
      {{else}}
        <button {{action "review"}}>Review</button>
      {{/if}}
    {{/if}}
  </div>
</div>
