<div class="container addons-show">
  <div class="addon-info">
    <h1>{{model.name}}</h1>

    <p>{{model.description}}</p>
    <section>
      <h4>Categories</h4>
      {{#each category in model.categories}}
        {{#comma-separated list=model.categories item=category as |value separator|}}
          {{#link-to "categories.show" value}}{{value.name}}{{separator}}{{/link-to}}
        {{/comma-separated}}
      {{else}}
        This addon hasn't been categorized yet. <a href="mailto:">Suggest categories &raquo;</a>
      {{/each}}
      {{#if session.isAuthenticated}}
        <form {{action "save" on="submit"}}>
          <fieldset>
            {{multiselect-checkboxes options=categories labelProperty="name" selection=model.categories}}

            {{#if isSaving}}
              <input type="submit" value="Saving" disabled>
            {{else}}
              {{input type="submit" value="Save"}}
            {{/if}}
          </fieldset>
        </form>
      {{/if}}
    </section>
    <section>
      <h4>Review</h4>
      {{#if review}}
        <small>Reviewed on {{moment review.createdAt "MMMM Do YYYY"}} for version {{review.version.version}}</small>
        <ol class="questions">
          {{#each question in answeredQuestions}}
            <li>
              <span class="question">{{question.text}}</span>
              <span class="dots"></span>
              <span class="answer"><strong>{{question.answer}}</strong></span>
            </li>
          {{/each}}
        </ol>
        <br>
        {{#if review.review}}
          <h6>Comments</h6>
          <p>{{review.review}}</p>
        {{/if}}
      {{else}}
        This addon has not yet been reviewed. <a href="#">Review now &raquo;</a>
      {{/if}}
      <br>
      {{#if session.isAuthenticated}}
        {{#if isReviewing}}
          {{addon-review-form review=newReview questions=review.questions save="saveReview"}}
        {{else}}
          <button {{action "review"}}>Review</button>
        {{/if}}
      {{/if}}
    </section>
  </div>

  <div class="addon-stats">
    <p class="addon-install">npm install {{model.name}}</p>

    <ul class="stats-list">
      <li><b>{{model.latestVersion}}</b> from {{ago model.latestVersionDate}}</li>
      <li><b>repo</b> {{human-url url=model.repositoryUrl}}</li>
      <li><b>package</b> {{human-url url=model.npmUrl}}</li>
      <li><b>license</b> <a {{bind-attr href="licenseUrl"}}>{{model.license}}</a></li>
    </ul>
    <h6>npm keywords</h6>

    <p class="keywords">
      {{#each keyword in model.keywords}}
        {{#comma-separated list=model.keywords item=keyword as |value separator|}}
          {{value.keyword}}{{separator}}
        {{/comma-separated}}
      {{/each}}
    </p>

    <h6>maintainers</h6>
    {{#each maintainer in model.maintainers}}
      {{gravatar-avatar gravatarId=maintainer.gravatar title=maintainer.name alt=maintainer.name}}
    {{/each}}

    <h6>versions</h6>

    <ul class="versions">
      {{#each version in sortedVersions}}
        <li>{{moment version.released "YYYY-MMM-DD"}} <span class="version-number">{{version.version}}</span></li>
      {{/each}}
    </ul>
  </div>


</div>
