<div class="addons-show with-default-styling">
  <div class="addon-info">
    <section class="test-addon-header">
      {{#if this.addon.isDeprecated}}
        <label class="alert test-addon-flag-deprecation">DEPRECATED</label>
      {{/if}}

      {{#if this.addon.isNewAddon}}
        <small class="test-addon-flag-new">NEW!</small>
      {{/if}}

      <h1>
        {{#if this.addon.isOfficial}}
          <OfficialIcon @class="test-addon-flag-official" />
        {{/if}}

        {{#if this.addon.isCliDependency}}
          <DependencyIcon @class="test-addon-flag-cli-dependency" />
        {{/if}}

        {{this.addon.name}}
      </h1>

      <p>{{this.addon.description}}</p>
    </section>
    {{#if this.addon.note}}
      <AddonNote @content={{this.addon.note}} />
    {{/if}}

    {{#if this.addon.ranking}}
      <span><LinkTo @route="addons.top">Ranks #{{this.addon.ranking}} of the top 100 addons!</LinkTo></span>
    {{/if}}
    <ScoreDetail @addon={{this.addon}} />
    <section class="categories">
      <h4>Categories</h4>
      <p>
        <InlineCategoryList @categories={{this.addon.categories}} />
        {{#unless this.addon.categories}}
          This addon hasn't been categorized yet.
        {{/unless}}
      </p>
    </section>
    {{#if this.hasGithubData}}
      <section class="repo-info test-github-data">
        <h4>GitHub</h4>

        {{#if this.addon.isTopStarred}}
          <small>TOP 10% STARRED</small>
        {{/if}}
        <div class="stats">
          <ul>
            <li class="test-open-issues">{{this.addon.githubStats.openIssues}}<span>{{pluralize this.addon.githubStats.openIssues 'Open Issue'}}</span></li>
            <li class="test-forks">{{this.addon.githubStats.forks}}<span>{{pluralize this.addon.githubStats.forks 'Fork'}}</span></li>
            <li class="test-stars">{{this.addon.githubStats.stars}}<span>Starred</span></li>
            <li class="test-contributors">{{this.addon.githubUsers.length}}<span>{{pluralize this.addon.githubUsers.length 'Contributor'}}</span></li>
          </ul>
        </div>
        <div class="commit-stats">
          <strong>latest commit</strong>
          <p class="test-latest-commit"><RelativeTime @date={{this.addon.githubStats.latestCommitDate}} /></p>

          <strong>first commit</strong>
          <p class="test-first-commit"><RelativeTime @date={{this.addon.githubStats.firstCommitDate}} /></p>
        </div>
      </section>
    {{/if}}

    <section class="latest-review">
      <h4>Review</h4>
      {{#if this.latestReview}}
        {{#unless this.isLatestReviewForLatestVersion}}
          <em class="test-review-new-version-warning">{{svg-icon "new-releases"}} New versions of this addon have been released since this review was undertaken.</em>
        {{/unless}}
        <AddonReview @review={{this.latestReview}} />
      {{else}}
        <p class="no-review test-no-review">This addon has not yet been reviewed.</p>
      {{/if}}
    </section>

    <section class="addon-dependencies">
      <DependencyTables @addonVersion={{this.latestVersion}} @addon={{this.addon}} />
    </section>

    {{#if this.addon.readme}}
      {{#unless this.addon.hasInvalidGithubRepo}}
        <section class="readme">
          <p class="header">README.md</p>
          <p class="test-addon-readme contents">
            <MarkdownToSanitizedHtml @markdown={{this.addon.readme.contents}} @tables={{true}} @ghCodeBlocks={{true}} @tasklists={{true}} @simplifiedAutoLink={{true}} />
          </p>
        </section>
      {{/unless}}
    {{/if}}
  </div>

  <div class="addon-stats">
    {{#if this.session.isAuthenticated}}
      <LinkTo @route="admin.review.addon" @model={{this.addon.name}}>
        <button type="button" class="button">Edit</button>
      </LinkTo>
    {{/if}}

    <StatsBar @addon={{this.addon}} @latestVersion={{this.latestVersion}} @testResult={{this.model.latestTestResult}} @isTestResultForLatestVersion={{this.isTestResultForLatestVersion}} @sortedAddonVersions={{this.sortedAddonVersions}} />
  </div>
</div>
