<div class="container admin-index">
  <h1>Admin</h1>

  <h2>Categories ({{model.categories.length}})</h2>
  <ul>
    {{#each category in model.categories}}
      <li>{{category.name}} - {{category.description}}</li>
    {{/each}}
    <li>
      {{link-to 'Add category' 'admin.categories.new'}}
    </li>
  </ul>

  <h2>Addons needing categorization ({{addonsNeedingCategorization.length}} / {{model.addons.length}})</h2>
  {{#if showAddonsNeedingCategorization}}
    {{addons-table addons=addonsNeedingCategorization showAddon="showAddon"}}
  {{else}}
    <a href="#" {{action "showNeedingCategories"}}>Show</a>
  {{/if}}

  <h2>Addons needing review ({{addonsNeedingReview.length}} / {{model.addons.length}})</h2>
  {{#if showAddonsNeedingReview}}
    {{addons-table addons=addonsNeedingReview showAddon="showAddon"}}
  {{else}}
    <a href="#" {{action "showNeedingReview"}}>Show</a>
  {{/if}}

  <h2>Addons with new updates since last review ({{addonsWithNewUpdates.length}} / {{model.addons.length}})</h2>
  {{#if showAddonsWithNewUpdates}}
    {{addons-table addons=addonsWithNewUpdates showAddon="showAddon"}}
  {{else}}
    <a href="#" {{action "showNewUpdates"}}>Show</a>
  {{/if}}

  <h2>Hidden Addons</h2>
  {{#if showHiddenAddons}}
    {{addons-table addons=hiddenAddons showAddon="showAddon"}}
  {{else}}
    <a href="#" {{action "showHidden"}}>Show</a>
  {{/if}}
</div>
