<div class="container admin-index">
  <h1>Admin</h1>

  <h2>Categories ({{model.categories.length}})</h2>
  <ul>
    {{#each category in model.categories}}
      <li>{{category.name}} - {{category.description}}</li>
    {{/each}}
  </ul>

  <h2>Addons ({{model.addons.length}})</h2>
  <ul>
    {{#each addon in model.addons}}
      <li>{{addon.name}}</li>
    {{/each}}
  </ul>
</div>
