<div class="container admin-index">
  <h1>Admin</h1>

  <h2>Categories ({{model.categories.length}})</h2>
  <ul>
    {{#each category in model.categories}}
      <li>{{category.name}} - {{category.description}}</li>
    {{/each}}
  </ul>

  <h2>Addons needing categorization ({{addonsNeedingCategorization.length}} / {{model.addons.length}})</h2>
  {{#if showAddonsNeedingCategorization}}
    <ul>
      {{#each addon in addonsNeedingCategorization}}
        <li>{{addon-row addon=addon}}</li>
      {{/each}}
    </ul>
  {{else}}
    <a href="#" {{action "showNeedingCategories"}}>Show</a>
  {{/if}}

  <h2>Addons needing review ({{addonsNeedingReview.length}} / {{model.addons.length}})</h2>
  {{#if showAddonsNeedingReview}}
    <ul>
      {{#each addon in addonsNeedingReview}}
        <li>{{addon-row addon=addon}}</li>
      {{/each}}
    </ul>
  {{else}}
    <a href="#" {{action "showNeedingReview"}}>Show</a>
  {{/if}}

  <h2>Addons with new updates since last review ({{addonsWithNewUpdates.length}} / {{model.addons.length}})</h2>
  {{#if showAddonsWithNewUpdates}}
    <ul>
      {{#each addon in addonsWithNewUpdates}}
        <li>{{addon-row addon=addon}}</li>
      {{/each}}
    </ul>
  {{else}}
    <a href="#" {{action "showNewUpdates"}}>Show</a>
  {{/if}}
</div>
