<div class="route-admin-review {{if list 'with-index'}}">
  <div class="review-index test-review-index">
    <header class="list-header">
      <h1 class="test-list-select">
        {{#power-select
          options=possibleLists
          selected=selectedList
          searchField="title"
          dropdownClass="test-list-select-dropdown"
          onchange=(action selectList) as |option|}}
          {{option.title}}
        {{/power-select}}
      </h1>
      {{#if adminLists.find.isRunning}}
        {{dot-spinner}}
      {{else}}
        <div class="addon-count note test-addon-count">{{addons.length}} matching addons</div>
      {{/if}}
    </header>
    {{#if adminLists.find.isIdle}}
      <ul class="review-addon-list">
        {{#each addons as |addon|}}
          {{#link-to "admin.review.addon" addon.name}}
            <li class="test-review-list-item">
              {{#score-display addon=addon as |score|}}
                {{score}}
              {{/score-display}}
              <span class="review-addon-list-name">
                {{addon.name}}
                {{#if addon.isDeprecated}}
                  <span class="notice">(Deprecated)</span>
                {{/if}}
              </span>
            </li>
          {{/link-to}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div class="addon-container">
    {{outlet}}
  </div>
</div>
