<div class="route-admin-review {{if this.list 'with-index'}}">
  <div class="review-index test-review-index">
    <header class="list-header">
      <h1 class="test-list-select">
        <PowerSelect @options={{this.possibleLists}} @selected={{this.selectedList}} @searchField="title" @dropdownClass="test-list-select-dropdown" @onchange={{action this.selectList}} as |option|>
          {{option.title}}
        </PowerSelect>
      </h1>
      {{#if this.adminLists.find.isRunning}}
        <DotSpinner />
      {{else}}
        <div class="addon-count note test-addon-count">{{this.addons.length}} matching addons</div>
      {{/if}}
    </header>
    {{#if this.adminLists.find.isIdle}}
      <ul class="review-addon-list">
        {{#each this.addons as |addon|}}
          <LinkTo @route="admin.review.addon" @model={{addon.name}}>
            <li class="test-review-list-item">
              <ScoreDisplay @addon={{addon}} as |score|>
                {{score}}
              </ScoreDisplay>
              <span class="review-addon-list-name">
                {{addon.name}}
                {{#if addon.isDeprecated}}
                  <span class="notice">(Deprecated)</span>
                {{/if}}
              </span>
            </li>
          </LinkTo>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  <div class="addon-container">
    {{outlet}}
  </div>
</div>
