<div class="maintainers-show">
  <header>
    <GravatarAvatar @gravatarId={{model.gravatar}} @title={{model.name}} @alt={{model.name}} />
    <h1>
      {{model.name}}
    </h1>
    <p>{{pluralize-this model.addons.length "addon"}} maintained by {{model.name}}.</p>
  </header>
  <AddonList @addons={{model.addons}} />
</div>
