<div class="maintainers-show">
  <header>
    <GravatarAvatar @gravatarId={{this.model.gravatar}} @title={{this.model.name}} @alt={{this.model.name}} />
    <h1>
      {{this.model.name}}
    </h1>
    <p>{{pluralize-this this.model.addons.length "addon"}} maintained by {{this.model.name}}.</p>
  </header>
  <AddonList @addons={{this.model.addons}} />
</div>
