<div class="container maintainers-show">
  <header>
    {{gravatar-avatar gravatarId=model.gravatar title=model.name alt=model.name}}
    <h1>
      {{model.name}}
    </h1>
    <p>Addons maintained by {{model.name}}.</p>
  </header>
  <span class="addon-count test-addon-table-count">Displaying {{pluralize-this model.addons.length "addon"}}</span>
  {{addon-list addons=model.addons}}
</div>
