<div class="container index">
   <h1 id="title">Categories</h1>

  <div class="grid-items-lines">
    {{#each category in topLevelCategories}}
      <div class="grid-item" {{action "showCategory" category}}>
        {{#link-to "categories.show" category class="test-category"}}
          <h2>{{category.name}} ({{category.addonCount}})</h2>

          <p>{{category.description}}</p>
        {{/link-to}}
        <p class="subcategories">
          {{#if category.subcategories}}
            Subcategories: {{inline-category-list categories=category.subcategories showAddonCount=true showWithoutParent=true}}
          {{/if}}
        </p>
      </div>
    {{/each}}

    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
  </div>

  {{!--<h2>Featured addons</h2>--}}
  {{!--{{featured-addons addons=controller count=4 sort='todo'}}--}}
</div>
