<div class="route-index">
  <div class="main">
    <header class="navigation">
      {{#link-to "index" class="name"}}Ember Observer{{/link-to}}

      <input type="search" placeholder="Search for addons, maintainers and categories">
      {{!--{{#if session.isAuthenticated}}--}}
      {{!--<a href="#" {{action "logout"}} class="logout">Log out</a>--}}
      {{!--{{/if}}--}}
    </header>
    <div class="content">
      <h1>Top addons</h1>
      <ul>
        {{#each model.firstObject.addons as |addon|}}
          {{#link-to "addons.show" addon}}
            <li>
              <div style="position:absolute">
                {{#if addon.isDeprecated}}
                  <span class="notice">(DEPRECATED)</span>
                {{else if addon.isWip}}
                  <span class="score">WIP</span>
                {{else if addon.score}}
                  <span class="score" data-score="{{addon.score}}">{{addon.score}}</span>
                {{else}}
                  <span class="score">N/A</span>
                {{/if}}
              </div>
              <div style="padding-left: 3rem;" class="desc">
                <span class="addon-name">{{addon.name}}</span>
                <small>- {{addon.description}}</small>

                <p>
                  <small>{{inline-category-list categories=addon.categories}}</small>
                </p>
              </div>
            </li>
          {{/link-to}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="categories-list">
    <h2 id="title">Categories</h2>
    <div class="filter">
      <input type="search" placeholder="Filter categories">
    </div>
    <ul>
      {{#each sortedTopLevelCategories as |category|}}
        {{#link-to "categories.show" category class="test-category"}}
          <li title="{{category.description}}">
            {{category.name}} ({{category.addonCount}})
          </li>
        {{/link-to}}
        {{#if category.subcategories}}
          {{#each category.subcategories as |subcategory|}}
            {{#link-to "categories.show" subcategory class="test-subcategory"}}
              <li class="indent" title="{{subcategory.description}}">
                <span class="icon-chevron-right"></span>
                {{subcategory.name}} ({{subcategory.addonCount}})
              </li>
            {{/link-to}}
          {{/each}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>